[Desktop Entry]
Version=1.0.1
Type=Application

Name=Scrap Mechanic Layout Editor
Comment=Lets you edit layouts for scrap mechanic
Categories=Development;GUIDesigner;

Icon=io.github.tofixrs.sm_layout_editor
Exec=sm-gui-launcher
Terminal=false
